*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #8cdabb;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /*font-family: 'Quicksand', sans-serif;*/
}
#opening{
    height: 150px;   
}

h1{color:#FBFFDC; font-size: 2rem;}
h2{color: rgb(50, 109, 109);padding: 10px; font-size: 2rem;}
h3{font-family: 'Quicksand', sans-serif; color: rgba(0, 0, 0, 0.818); }
h4{font-weight: 100; font-size: small;}



.highlight{
    color: rgb(50, 109, 109);
}
nav ul li a{
    text-decoration: none;
    color: #FBFFDC;
}
nav ul li a:hover{
    color: #8cdabb;
}
#element{
    color: rgb(53, 112, 112);
}
.rightnav{
    padding: 15px;
    float: right;
    margin-right: 5%; 
    font-size: 1.0rem;   
}
.leftnav{
    margin-left: 5%;
    padding: 15px;padding-left: 30px;padding-top: 8px;
    float: left;
    font-size: 1.5rem;
}
.navitem{
    display: inline;
    padding: 10px;
    padding-left: 25px;
}
.ls{
    margin-top: 90px;
}
nav{
    height: 50px;
    background:rgb(50, 109, 109)/* ,#6bd1c3 */;
    color: #FBFFDC;
    margin: 0px; 
    opacity: 0.95;
    width: 100%; 
    position: fixed; 
    margin-top: 0px;
    top:0px;
    z-index:1;
}
#project{
    padding: 10px;
}
#headline{
    font-size: 1.3rem; font-weight: 1000;padding: 2px;
}
.firstSection{
    margin-left: 4%;margin-right: 4%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    height: fit-content;
}
.resume_button{
    margin-bottom: 10%;
    
}
#devpng{
    width: 350px;
    height: 380px;
    border-radius: 40%;
    opacity: 0.98;
    padding-top: 50px;
}

.secondSection{
    margin-left: 3%;margin-right: 3%;
    height: fit-content; 
    margin: 2%;
    padding: 2%;   
}
#project {
    height: fit-content;
}
#headline{
    margin-bottom:  10px; 
}
#intership{
    margin-left:4%;
    margin-right:4%;
    height: fit-content; 
    padding: 2%; 
    margin-bottom: 20px;

}
.footer{
    background-color: rgb(50, 109, 109); 
    margin-top: 1%; 
    width: 100%;    
}
.footer h3{
    color: #FBFFDC;margin-top: 1%;padding-bottom: 1%;
    
}
.footerFirst{
    width: 100%;
    text-align: center;
    padding-top: 0.5%;padding-bottom: 0.5%;
    
       
}
.footerItems{
    display:flex;
    justify-content: space-around;
    padding-top: 1%;padding-bottom: 1%;
    
}
.footerItems li{
    display: inline;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;   
}
button{
    padding: 8px;
    background-color: rgb(57, 117, 117);
    color: aliceblue;
    margin-top: 30px;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 5px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:white;
}button:hover{
    background-color: black;
}
@media only screen and (max-width: 720px){

    nav{
        height: 80px;
    }
    .leftnav{
        text-align: center;
        margin: 10px auto;
        font-size: 1rem;
        float:none;
        padding: 0%;
    }
    .rightnav{
        padding: 5px;
        float: none;
        margin-right: 2%; 
        font-size: 0.8rem;   
        text-align: center;
    }
    .firstSection{
        margin-top: 80px;
        display:block;
        justify-content: space-around;
        height: fit-content;
        margin-bottom: 30px;
    }
    #devpng{
        width: 120px;
        height: 110px;
        border-radius: 40%;
        opacity: 0.98;
        padding-top: 1px;
    }
    .ls{
        margin-top: 40px;
    }
    .rs{
        height: fit-content;
        float: right;
    }
    #opening{

        padding-top: 20px;
        height: 240px;   
    }

    .footerItems li{
        padding-left: 10px;
        padding-right: 10px;

    }
    
    
}
